<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body >
  <div style="text-align: center; align-text: center;">
  <h2 ><%- (isAdmin) ? "WELCOME ADMIN": 'You are not an Admin' -%></h2>

  <form action="/" method="POST">
  <button type="submit" name="isAdmin" value=`<%= isAdmin ? false : true %>`>Admin Login</button>
  </form>
  <h3> Click the button to login as Admin </h3>
  
  <p><%= isAdmin ? `Congratulations now you can access '/admin/users' and '/admin/products' routes ` : "" %></p>

  <h4> To logout reload the page</h4>
  <p> Please Login as ADMIN to access <b><em>'/admin/users'  and '/admin/products'</em></b> routes</p>
  </div>
</body>

</html>